
@font-face {
    font-family: 'Arial' sans-serif ;
    src: url(../fonts/ArialMT.woff);
    font-weight: 400;
    font-style: normal;
}

html{
    box-sizing: border-box;
}
  
*,
*::before,
*::after{
    box-sizing: inherit;
}
  
body{
    background-color: black;
    color: aliceblue;
    font-family: 'Arial' sans-serif ;
    font-size: 1em;
}

.title{
   margin: 0a;
   text-align: center;
   padding: 0.3em 0;
   font-size: 3em;
}

.accordion{
    max-width: 45em;
    margin: 0 auto;
}

.accordion__item{
    margin-bottom: 0.8em;
}

.tab__input{
    appearance: none;
    -webkit-appearance: none;
}


input[type="radio"]:checked ~ .tab__label1 .accordion__item-content{
    max-height: 200em;
    transition: 1s ease-in-out;
   
  
}

input[type="radio"]:checked ~ .tab__label span{
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}


.accordion__item-content{
   max-height: 0;
   overflow: hidden;
   margin-top: 1em;
   /* padding-top: 0.5em; */
   cursor: pointer;
   transition: 0.2s ease-in;
   text-align: center;
}


.tab__label{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.8em 1.4em;
    border-bottom: 0.2em solid #fff;
    transition: all 0.3s ease-in;
}

.tab__label span{
    margin-left: auto;
    
}



input[type="radio"]:checked ~ .tab__label{
    color: blueviolet;
    border-bottom: 0.2em  solid blueviolet;
   
}

input[type="radio"]:hover ~ .tab__label1 .accordion__item-content{
    max-height: 20vh;
    transition: 1.4s ease-in-out;
   
}

.accordion__item-content:hover {
    max-height: 20em;
    transition: 1.4s ease-in-out;
}

.accordion:hover .tab__label{
    border-bottom: 0.2em  solid blueviolet;
}


.accordion:hover{
    color: blueviolet;
}

.accordion:hover .svg{
    height: 0.8em;
    width: 0.8em;
    fill: blueviolet ;
}



.svg{
    height: 0;
    width: 0;
}


.tab__img{
    width: 15em;
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 820px){

.title{
        font-size: 2em;
}    

.accordion{
    max-width: 35em;
}

.accordion__item{
    margin-bottom: 1em;
}

.tab__img{
    width: 12em;
    height: 10em;
}

.accordion__item-content{
    margin-top: 0.8em;
 }
.svg{
    height: 0.8em;
    width: 0.8em;
}

.accordion {
    border-bottom: none;
}

.accordion:hover{
    color: none;
}

input[type="radio"]:checked ~ .tab__label .svg{
    fill: wheat ;
}

input[type="radio"]:checked ~ .tab__label{
    color: wheat;
    border-bottom: 0.2em  solid wheat;
   
}

}

@media (max-width: 320px){

    .title{
            font-size: 1.5em;
    }    
    
    .accordion{
        max-width: 15em;
    }
    
    .accordion__item{
        margin-bottom: 0.6em;
    }
    
    .tab__img{
        width: 8em;
        height: 6em;
    }
    
    .accordion__item-content{
        margin-top: 0.8em;
     }
    .svg{
        height: 0.8em;
        width: 0.8em;
    }
    
    .accordion {
        border-bottom: none;
    }
    
    
    
    input[type="radio"]:checked ~ .tab__label .svg{
        fill: wheat ;
    }
    
    input[type="radio"]:checked ~ .tab__label{
        color: wheat;
        border-bottom: 0.2em  solid wheat;
       
    }
    
    }